<div class="row">
  <div class="column col-xs-12 col-sm-6">
    <h1><%=  @article.title %></h1>
    <%= link_to "Edit", edit_article_path, class: "btn btn-primary" %>
    <%= link_to "Delete", article_path(@article.id), method: :delete, class:"btn btn-warning", data: {confirm: "Are you sure you want to delete this article?"} %>
  </div>
</div>

